:root {
    --target-icon-size: 1.3rem; /* size of the target icon */
    --active-colour: rgba(77, 203, 194, 1); /* colour of icon whilst active */
    --active-textshadow: -1px -1px 1px rgba(0, 0, 0, 1), 1px -1px 1px rgba(0, 0, 0, 1), -1px 1px 1px rgba(0, 0, 0, 1), 1px 1px 1px rgba(0, 0, 0, 1); /* icon text shadow when active */
    --inactive-colour: rgba(77, 203, 194, 0.7); /* colour of icon whilst inactive */
    --inactive-textshadow: -1px -1px 1px rgba(0, 0, 0, 1), 1px -1px 1px rgba(0, 0, 0, 1), -1px 1px 1px rgba(0, 0, 0, 1), 1px 1px 1px rgba(0, 0, 0, 1); /* icon text shadow when inactive */
    --dropdown-font-size: 1.0rem; /* size of dropdown text */
    --dropdown-icon-size: 1.2rem; /* size of dropdown icons */
    --dropdown-colour: rgba(255, 255, 255, 0.8); /* colour of drop down text */
    --dropdown-textshadow: -1px -1px 1px rgba(0, 0, 0, 1), 1px -1px 1px rgba(0, 0, 0, 1), -1px 1px 1px rgba(0, 0, 0, 1), 1px 1px 1px rgba(0, 0, 0, 1); /* colour of drop down text */
    --dropdown-icon-colour: rgba(77, 203, 194, 0.7); /* colour of drop down icons */
    --dropdown-icon-textshadow: -1px -1px 1px rgba(0, 0, 0, 1), 1px -1px 1px rgba(0, 0, 0, 1), -1px 1px 1px rgba(0, 0, 0, 1), 1px 1px 1px rgba(0, 0, 0, 1); /* colour of drop down icon shadow */
    --dropdown-icon-hover-colour: rgba(77, 203, 194, 1); /* colour of drop down icon on hover */
    --dropdown-hover-colour: rgba(255, 255, 255, 1); /* colour of drop down icons */
    --dropdown-hover-textshadow: -1px -1px 1px rgba(0, 0, 0, 1), 1px -1px 1px rgba(0, 0, 0, 1), -1px 1px 1px rgba(0, 0, 0, 1), 1px 1px 1px rgba(0, 0, 0, 1); /* colour of hover shadow */
}